[z_calibration]
nozzle_xy_position:   -5.5, 86      #<X,Y position where the nozzle touches the Z endstop>
switch_xy_offsets:    -5.5, 52      #<X,Y offset from nozzle_xy_position to the probe switch body>
bed_xy_position:      117.5, 117.5  #<X,Y bed position to probe>
switch_offset:        <positive switch trigger offset>
start_gcode:          <G-code or macro call to attach the probe>
#before_switch_gcode: <G-code or macro call before probing with the magnetic probe>
end_gcode:            <G-code or macro call to dock the probe>


[z_calibration]
switch_xy_offsets:    <X,Y offset from nozzle position to probe switch body>
bed_xy_position:      <X,Y bed position to probe>
switch_offset:        <positive switch trigger offset>
before_switch_gcode:  ATTACH_PROBE
end_gcode:            DOCK_PROBE