[gcode_macro CLEAN_NOZZLE]
description: Clean nozzle on frame mounted brush
variable_brush_x_start: 244
variable_brush_x_end: 250
variable_brush_y_start: 193
variable_brush_y_end: 243
variable_wipe_slow: 12000
variable_wipe_slow_qty: 1
variable_wipe_fast: 24000
variable_wipe_fast_qty: 2
variable_travel_speed: 9000
variable_clean_temp: 150
gcode:
    {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y
    {% endif %}
    #SAVE_GCODE_STATE NAME=CLEAN_NOZZLE
    G90
    M117 Heating nozzle to {clean_temp}C
    M109 S{clean_temp}
    G1 X{(brush_x_start + brush_x_end) / 2} Y{(brush_y_start + brush_y_end) / 2} F{travel_speed}
    # Slow wipe
    {% for wipe in range(wipe_slow_qty) %}
        G1 X{brush_x_start} Y{brush_y_start} F{wipe_slow}
        G1 X{brush_x_start} Y{brush_y_end} F{wipe_slow}
        G1 X{brush_x_end} Y{brush_y_start} F{wipe_slow}
        G1 X{brush_x_end} Y{brush_y_end} F{wipe_slow}
        G1 X{brush_x_start} Y{brush_y_start} F{wipe_slow}
        G1 X{brush_x_end} Y{brush_y_end} F{wipe_slow}
        G1 X{brush_x_start} Y{brush_y_end} F{wipe_slow}
        G1 X{brush_x_end} Y{brush_y_start} F{wipe_slow}
    {% endfor %}
    # Fast wipe
    {% for wipe in range(wipe_fast_qty) %}
        G1 X{brush_x_start} Y{brush_y_start} F{wipe_fast}
        G1 X{brush_x_start} Y{brush_y_end} F{wipe_fast}
        G1 X{brush_x_end} Y{brush_y_start} F{wipe_fast}
        G1 X{brush_x_end} Y{brush_y_end} F{wipe_fast}
        G1 X{brush_x_start} Y{brush_y_start} F{wipe_fast}
        G1 X{brush_x_end} Y{brush_y_end} F{wipe_fast}
        G1 X{brush_x_start} Y{brush_y_end} F{wipe_fast}
        G1 X{brush_x_end} Y{brush_y_start} F{wipe_fast}
    {% endfor %}
    G1 X{printer.toolhead.position.x - 5} F{travel_speed}
    M104 S0
    M117 Nozzle Cleaned
    #RESTORE_GCODE_STATE NAME=CLEAN_NOZZLE MOVE=1