[gcode_macro END_PRINT]
description: Park XY and move Z to max at end of print
gcode:
    G91                          ; relative
    G1 Z5 F3000
    G1 E-2 F3600
    TURN_OFF_HEATERS
    G90                          ; Absolute positioning
    G28 Y X
    #G1 Z230 F1200               ; Move Z to bottom
    M107 
    M84