[gcode_macro END_PRINT]
description: Park XY and move Z to max at end of print
gcode:
    G91                          ; relative
    G1 Z5 F3000                  ; lift Z 5mm first
    G1 E-2 F3600                 ; retract 2mm
    TURN_OFF_HEATERS
    G90                          ; Absolute positioning
    G28 Y                      ; Home X and Y
    #G1 Z220 F1800                ; Move Z to 245
    M107 
    M84                          ; Disable steppers